/** -- Menu component styling -- **/

.plansFilter {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    width: 100%;
    justify-content: center;
}

.planItem {
    text-decoration: none;
    text-align: center;
    list-style: none;
    margin: 1rem;
    cursor: pointer;
}

.planItem.active {
    border-bottom: 2px solid black;
}