/* Styling for Billing components */

/* -- Billing -- */
@media only screen and (min-width: 992px) {
    .billingForm {
        width: 75% !important;
    }
}

/* -- Stripe's card element -- */
#cardElement {
    border-radius: .25rem;
    padding: 12px;
    border: 1px solid #dadee3;
    width: 100%;
    color: #6c757d;
}

/* -- ToPay -- */

.orderInfo .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primary) !important;
    color: var(--text-color-white) !important;
    border-bottom: 2px solid var(--color-white);
}

.orderInfo .card-header svg {
    margin-left: 5px;
}

.orderInfo .card-body {
    padding: 0;
    margin: 0;
    background-color: var(--color-secondary) !important;
    color: var(--text-color-white) !important;
}

.orderInfo .list-group-item {
    padding: 0.5rem 0.25rem;
    border: none;
    background-color: var(--color-secondary) !important;
    color: var(--text-color-white) !important;
}

@media only screen and (min-width: 768px) {
    .payDetails{
        border-top: none !important;
        border-left: solid #dfdfdf 2px;
    }
}