/* Styling for Billing components */

/* -- Delivery -- */
@media only screen and (min-width: 992px) {
    .billingForm {
        width: 75% !important;
    }
}

/* -- Stripe's card element -- */
#cardElement {
    border-radius: .25rem;
    padding: 12px;
    border: 1px solid #dadee3;
    width: 100%;
    color: #6c757d;
}
